@import 'styles/mixins.scss';
@import 'styles/variables.scss';


.Burger {
    width: max-content;
    cursor: pointer;

    &__Line {
        display: block;
        position: relative;
        z-index: 1;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        background: rgba($color:$blue, $alpha: .5 );
        border-radius: 3px;
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;

        &:last-child {
            margin-bottom: 0;
        }

        &:last-child {
            transform-origin: 75% 0%;
        }
                
        &:nth-last-child(2) {
            transform-origin: 50% 100%;
        }

        &:nth-last-child(3) {
            transform-origin: 91% 105%;
        }
    }

    input#MobileMenu:checked ~ & & {
        &__Line {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -2px);
            background: $blue;

            &:nth-last-child(3) {
                transform: rotate(-45deg) translate(0, -2px);
            }
    
            &:nth-last-child(2) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
                transform: rotate(-45deg) translate(0, -1px);
            }
        }
    }
}