@import 'styles/variables.scss';
@import 'styles/mixins.scss';

$hover-animation-time: $def-transition-time;

.HeaderStub {
    height: 60px;
}

.Header {
    position: fixed;
    z-index: 20;
    top: 0;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #1E71B6;
    border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
    box-sizing: content-box;
    margin-bottom: -1px;
    background-color: #fff;

    &__LogoContainer {
        display: flex;
        height: 100%;
        align-items: center;
    }

    &__Logo {
        display: inline-block;
        height: 46px;
        margin-right: 12px;
    }

    &__Title {
        display: inline-block;
        font-family: $title-font;
        font-weight: 900;
        font-style: italic;
        font-size: 22px;
        color: $blue;
        line-height: 60px;
        white-space: nowrap;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &__ContentContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1040px;
        height: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    &__MobileMenu {
        display: none;
    }

    &__Navigation {
        margin-right: -20px;
    }

    &__NavigationLink {
        padding: 9px 20px;
        margin: 0 4px;
        position: relative;
        z-index: 1;
        border-radius: 22px;
        overflow: hidden;

        &, &::before, &::after {
            transition: all $hover-animation-time;
        }

        &:after {
            content: '';
            background: linear-gradient(rgba(30,141,228, 0), rgba(30,141,228, 0.2));
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            border-radius: 22px;
            opacity: 0;
        }

        &::before {
            position: absolute;
            opacity: 0;
            content: '';
            inset: 0;
            border-radius: 22px; 
            padding: 1px;
            max-width: -1px;
            background: linear-gradient(to right, rgba(30,141,228, 0.5), rgba(30,141,228, 0), rgba(30,141,228, 0.5));
            -webkit-mask: 
               linear-gradient(#fff 0 0) content-box, 
               linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude; 
            transition: all $hover-animation-time;
        }

        &:not(.active):hover {
            &:after {
                opacity: 1;
            }

            &::before {
                content: '';
            }
        }

        &.active {
            opacity: 1;
            box-shadow: inset 0 1px 4px rgba(0, 0, 0, .25);
            background: linear-gradient(rgba(30,141,228, 0), rgba(30,141,228, 0.2));

            &:hover {
                cursor: default;
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 22px; 
                padding: 1px; 
                background: linear-gradient(to right, rgba(30,141,228, 0.2), rgba(30,141,228, 0), rgba(30,141,228, 0.2));
                -webkit-mask: 
                   linear-gradient(#fff 0 0) content-box, 
                   linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                        mask-composite: exclude; 
            }

        }
    }

    &__Burger {
        display: none;
    }

    @include lg {
        &__Navigation {
            display: none;
        }

        &__Burger {
            display: block;
        }

        &__MobileMenu {
            display: block;
            visibility: hidden;
            position: absolute;
            right: 20px;
            top: 50px;
            width: calc(100% - 40px);
            background: #fff;
            padding: 30px;
            box-shadow: 0 3px 12px rgba(0,0,0,0.25);
            border-radius: 10px;
            margin: 0;
            padding: 28px 20px;
            opacity: 0;
            transition: all $hover-animation-time;
            transform: rotateX(20deg) scaleY(0.5);
            transform-origin: 0 0;
            border: 1px solid rgba($color: $midnight-blue, $alpha: .4);

            &.active {
                display: block;
                visibility: visible;
                opacity: 1;
                top: 70px;
                left: 20px;
                transform: rotateX(0) scaleY(1);
            }
        }

        &__NavigationLink {
            display: block;
            margin: 4px 0;

            &.active {
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25);
            }
        }
    }
}