@import 'styles/variables.scss';

.Header {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .2);

    &__LogoContainer {
        display: flex;
        height: 100%;
        align-items: center;
    }

    &__Logo {
        display: inline-block;
        height: 46px;
        margin-right: 12px;
    }

    &__Title {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-style: italic;
        font-size: 22px;
        color: $blue;
        line-height: 60px;
    }

    &__ContentContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1000px;
        height: 100%;
        margin: 0 auto;
    }

    &__NavigationLink {
        margin: 0 20px;

        &.active {
            margin: 0;
            padding: 9px 20px;
            border-radius: 22px;
            box-shadow: inset 0 1px 4px rgba(0, 0, 0, .25);
            background: linear-gradient(rgba(30,141,228, 0), rgba(30,141,228, 0.2));
            position: relative;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 22px; 
                padding: 1px; 
                background: linear-gradient(to right, rgba(30,141,228, 0.2), rgba(30,141,228, 0), rgba(30,141,228, 0.2));
                -webkit-mask: 
                   linear-gradient(#fff 0 0) content-box, 
                   linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                        mask-composite: exclude; 
            }

        }
    }
}