$blue: #008de4;
$deep-blue: #012060;
$midnight-blue: #0b0f3b;
$black: #111921;
$gray: #787878;

$screen-sm: 480px;
$screen-md: 640px;
$screen-lg: 768px;
$screen-lg-xl: 960px;
$screen-xl: 1024px;

$section-offset-sm: 50px;
$section-offset-md: 70px;
$section-offset-lg: 90px;
$section-offset-xl: 110px;
$section-offset-xl-xl: 110px;

$title-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;
$title-letter-spacing: 0.2px;
$big-letter-spacing: 0.6px;

$def-border-radius: 10px;
$def-transition-time: .3s;
$inertial-transition-function: cubic-bezier(0,.16,.6,1.3);