$blue: #008de4;
$deep-blue: #012060;
$midnight-blue: #0b0f3b;
$black: #111921;
$gray: #787878;

$screen-sm: 480px;
$screen-md: 640px;
$screen-lg: 768px;
$screen-xl: 1024px;

$title-font: 'Montserrat', sans-serif;

$def-transition-time: .3s;
$def-border-radius: 10px;
$inertial-transition-function: cubic-bezier(0,.16,.6,1.3);