@import 'styles/variables.scss';

$hover-animation-time: .1s;

.VersionsListItem {
    display: flex;
    height: 42px;
    font-size: 16px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba($color: $blue, $alpha: .025), rgba($color: $blue, $alpha: .05));
        border: 1px solid;
        border-width: 1px 0 1px 0;
        border-color: rgba($color: $blue, $alpha: .1);
        opacity: 0;
        transition: all $hover-animation-time;
    }

    &__Date {
        width: 90px;
        margin-right: 13px;
    }

    &__Version {
        font-weight: 700;
        margin-right: 13px;
    }

    &__Description {

    }
}