@import 'styles/variables.scss';

.VersionsList {
    &__Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        a {
            font-size: 14px;
            letter-spacing: $big-letter-spacing;
            transition: $def-transition-time;

            &:hover {
                cursor: pointer;
                color: $blue;
            }
        }
    }
}