@import '../../styles/variables.scss';

.ContentBlock {
    background-color: #fff;
    border-radius: $def-border-radius;
    position: relative;
    z-index: 1;

    &--ExternalHeader {
        margin-top: 48px;

        &::after {
            content: '';
            width: 14px;
            height: 12px;
            background: url(/images/triangle-grey.svg) no-repeat;
            background-size: contain;
            position: absolute;
            z-index: -1;
            top: -11px;
            left: 20px;
        }
    }

    &--ExternalHeader &__Header {
        position: absolute;
        top: -48px;

        h2 {
            font-size: 20px;
            font-weight: 500;
        }
    }

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        border-radius: $def-border-radius; 
        padding: 1px; 
        margin: -1px;
        opacity: .3;
        background: linear-gradient(30deg, rgba($color: #000000, $alpha: .5) 0%,
                                         #1D89DD 33%, 
                                         #1D89DD 66%, 
                                           rgba($color: #000000, $alpha: .5) 100%);
        -webkit-mask: 
           linear-gradient(#fff 0 0) content-box, 
           linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude; 
    }

    &__Header {
        display: flex;
        align-items: center;
        min-height: 40px;
        padding: 0 20px;

        h2 {
            font-family: $title-font;
            font-weight: 700;
            font-size: 14px;
            margin: 0;
        }
    }

    &:not(&--ExternalHeader) &__Header {
        border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
        background: rgba(30, 141, 228, .05);
    }


    &__Content {
        padding: 28px 0;
    }

    &__ContentContainer {
        padding: 0 20px;
        line-height: 28px;
    }
}