@import 'styles/variables.scss';

.ContentBlock {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        border-radius: 10px; 
        padding: 1px; 
        margin: -1px;
        opacity: .3;
        background: linear-gradient(30deg, rgba($color: #000000, $alpha: .5) 0%,
                                         #1D89DD 33%, 
                                         #1D89DD 66%, 
                                           rgba($color: #000000, $alpha: .5) 100%);
        -webkit-mask: 
           linear-gradient(#fff 0 0) content-box, 
           linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude; 
    }

    &__Header {
        display: flex;
        align-items: center;
        min-height: 40px;
        background: rgba(30, 141, 228, .05);
        border-bottom: 1px solid rgba($color: #000000, $alpha: .1);

        padding: 0 20px;

        h2 {
            font-family: $title-font;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: .05;
        }
    }

    &__Content {
        padding: 28px 0;
    }
}