@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.HomePage {
    @include page;

    &__Introduction {
        background-color: $blue;
        color: #fff;
        text-align: center;
        padding: 110px 0;

        h1 {
            font-family: 'Montserat', sans-serif;
            font-style: italic;
            font-weight: 900;
            font-size: 32px;
        }

        p {
            font-size: 16px;
        }
    }
}