@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.Team {
    &__Teammate {
        position: relative;
        margin-bottom: 20px;

        &::after {
            content: '';
            position: absolute;
            display: block;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 1px;
            background: $blue;
            opacity: .3;
        }

        &:last-child {
            margin-bottom: 0;

            &::after {
                display: none;
            }
        }
    }

    @include sm {
        &__Teammate {
            margin-bottom: 40px;

            &::after {
                bottom: -20px;
            }
        }
    }
}