@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.FaqItem {
    border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
    background-color: transparent;
    transition: all $def-transition-time;

    &:last-child {
        border-bottom: none;
    }

    &.active {
        background: rgba($color: $blue, $alpha: .05);
        padding-bottom: 22px;
    }

    &:not(.active) & {
        &__Question {
            &:hover {
                background-color: rgba($color: $blue, $alpha: 0.03);
            }
        }
    }

    &__Question {
        position: relative;
        padding: 0 20px;
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        height: 67px;
        display: flex;
        align-items: center;
        transition: background-color .15s;

        &:hover {
            cursor: pointer;

            &:after {
                transform: translateY(-50%) rotate(180deg) scale(1.15);
            }
        }

        &::after {
            content: '';
            position: absolute;
            right: 18px;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
            background: url(/images/triangle-blue.svg) no-repeat;
            background-size: contain;
            width: 22px;
            height: 21px;
            transition: transform $def-transition-time;

            .active & {
                transform: translateY(-50%) rotate(0deg);
            }
        }
    }


    &__Answer {
        visibility: hidden;
        transition: all $def-transition-time;
        opacity: 0;
        padding: 0 20px;

        .active & {
            opacity: 1;
            visibility: visible;
        }
    }


}